# Others
~$*
/.sass-cache
/uploaded-files
/node_modules
/bower_components
/public/plugins/trumbowyg/dist
/public/plugins/trumbowyg/src/ui/sass/_sprite*
/public/plugins/trumbowyg/plugins/**/ui/sass/_sprite*


# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store